name: Lint and Test

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: "0.15.1"  

      - name: Run zig fmt check
        run: |
          zig fmt --check src/*.zig  
